body {
	text-align: center;
}

#parrafo-click {
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: black;
	width: 500px;
}

div {
	border-style: solid;
	border-color: rgb(181, 181, 181);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: rgb(77, 77, 77);
	background-color: rgb(238, 238, 238);
	padding: 20px;
	width: 400px;
	/*esquinas redondas*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*sombras*/
	-webkit-box-shadow: rgb(80,80,80) 4px 3px 7px;
	-moz-box-shadow: rgb(80,80,80) 4px 3px 7px;
	box-shadow: rgb(80,80,80) 4px 3px 7px;
}